<html>
	<body>
		<li>Add: {{Add 1 2}}</li>
		<li>Subtract: {{Subtract 15 10}}</li>
		<li>Multiple: {{Multiple 2 3}}</li>
		<li>Divide: {{Divide 4 1}}</li>
		<li>{{Str2html .Link}}</li>
		<li>{{Date}}</li>
		<hr>

		<li>and: {{and true true}}</li>
		<li>and: {{and true false}}</li>
		<li>or: {{or true true}}</li>
		<li>or: {{or true false}}</li>
		<li>or: {{or false false}}</li>
		<li>not: {{not true}}</li>
		<li>not: {{not false}}</li>
		<li>and + or: {{and (and true true) (or true false)}}</li>
		<li>and + not: {{and (and true true) (not false)}}</li>

		<li>Num1 > 10: {{gt .Num1 10}}</li>
		<li>Num1 > 10 and Num2 > 1000: {{and (gt .Num1 10) (gt .Num2 1000)}}</li>
		<li>Num1 > 10 and Num2 < 1000: {{and (gt .Num1 10) (lt .Num2 1000)}}</li>
		<li>{{if and (gt .Num1 10) (gt .Num2 1000)}}Num1 > 10 and Num2 > 1000{{end}}</li>
		<li>{{if not (and (gt .Num1 10) (gt .Num2 1000))}}Num1 < 10 or Num2 < 1000{{else}}true{{end}}</li>
		<hr>

		<li>{{2 | Square | Square | Square | Square}}</li>
		<li>{{.Link | Str2html}}</li>
		<hr>

		{{$linkHTML := Str2html .Link}}
		<li>{{$linkHTML}}</li>

		{{$s1 := Square 2}}
		{{$s2 := Square $s1}}
		<li>{{Add $s1 $s2}}</li>
		<li>{{Add (Square 2) (Square $s1)}}</li>
		<hr>

		<li>{{index . "Link"}}</li>
		<li>{{index . "Num1"}}</li>
		<li>{{index .Slice 0}}</li>
		<li>{{index .Slice 1}}</li>
		<li>{{index .Array 0}}</li>
		<li>{{index .Array 1}}</li>
	</body>
</html>