{{template "header"}}
    	<title>修改文章 - 我的 beego 博客</title>
  	</head>

	<body>
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				{{template "navbar" .}}
			</div>	
		</div>
		
		<div class="container">
			<h1>修改文章</h1>
			<form method="post" action="/topic">
				<input type="hidden" name="tid" value="{{.Tid}}">
				<div class="form-group">
					<label>文章标题：</label>
					<input type="text" class="form-control" name="title" value="{{.Topic.Title}}">
				</div>
				
				<div class="form-group">
					<label>文章分类：</label>
					<input type="text" class="form-control" name="category" value="{{.Topic.Category}}">
				</div>
				
				<div class="form-group">
					<label>文章标签：</label>
					<input type="text" class="form-control" name="lable" value="{{.Topic.Lables}}">
				</div>

				<div class="form-group">
					<label>文章内容：</label>
					<textarea name="content" cols="30" rows="10" class="form-control">{{.Topic.Content}}</textarea>
				</div>
				<button type="submit" class="btn btn-default">修改文章</button>
			</form>
		</div>

		<script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.0.3/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	</body>
</html>