{{template "header"}}
    	<title>{{.Topic.Title}} - 我的 beego 博客</title>
  	</head>

	<body>
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				{{template "navbar" .}}
			</div>	
		</div>
		
		<div class="container">
			{{with .Topic}}
			<h1>{{.Title}}</h1>
			{{.Content}}
			{{end}}
		</div>

		<script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.0.3/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	</body>
</html>
