<html>
    <head>
        <title>Go Web</title>
    </head>
    <body>
        <p>Package Info:</p>
        <ul>
            <li>Package name: {{.Name}}</li>
            <li>Number of functions: {{.NumFuncs}}</li>
            <li>Number of variables: {{.NumVars}}</li>
        </ul>
    </body>
</html>